.acc-edit{
  display: flex;
  flex-direction: column;
}
.acc-edit__row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
}
.acc-edit__input{
  width: 90%;
}
.acc-edit__element{
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
  text-align: center;
  background-color: rgba(234, 234, 234, 0.8);
}
.acc-edit__update{
  width: 100px;
}
.acc-edit__name{
  width: 120px;
}
.acc-edit__field{
  width: 200px;
}
.acc-edit__full{
  width: 468px;
}
.acc-edit__update_head{
  background-color: rgba(23, 45, 193, 0.7);
}
.acc-edit__name_head{
  background-color: rgba(23, 178, 45, 0.7);
}
.acc-edit__field_head{
  background-color: rgba(205, 193, 23, 0.7);
}
@media only screen and (max-width: 220px) {
  .acc-edit{
    width: 95%;
  }
  .acc-edit__row{
    flex-direction: column;
    justify-content: center;
    margin: 3px 3px 12px 3px;
  }
  .acc-edit__element{
    width: 95%;
  }
}
@media only screen and (max-width: 500px) and (min-width: 221px) {
  .acc-edit{
    width: 95%;
  }
  .acc-edit__row{
    flex-wrap: wrap;
    justify-content: left;
  }
}
