.fail-stat {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.fail-stat__head {
  width: 346px;
  color: white;
  background-color: #8e79be;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
}
.fail-stat__columns {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fail-stat__column {
  width: 160px;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
  background-color: #dddddd;
}
.fail-stat__column_a {
  margin: 3px 3px 3px 0;
}
.fail-stat__column_b {
  margin: 3px 0 3px 3px;
}
@media only screen and (max-width: 380px) {
  .fail-stat {
    width: 95%;
  }
  .fail-stat__columns {
    flex-direction: column;
    width: 95%;
  }
  .fail-stat__column_a, .fail-stat__column_b {
    margin: 3px 0;
    width: 100%;
  }
  .fail-stat__column_b {
    background-color: #b7b7b7;
  }
  .fail-stat__head {
    width: 95%;
  }
}
