.war-members{
  display: flex;
  flex-direction: column;
}
.war-members__row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
}
.war-members__element{
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
}
.war-members__head{
  width: 348px;
  text-align: center;
  background-color: rgba(12, 16, 201, 0.6);
}
.war-members__army{
  width: 240px;
}
.war-members__members{
  width: 80px;
  background-color: gray;
}
@media only screen and (max-width: 420px) {
  .war-members__row{
    flex-direction: column;
    justify-content: center;
    margin: 7px 0 3px 0;
  }
  .war-members{
    width: 95%;
    justify-content: center;
  }
  .war-members__element{
    width: 100%;
  }
}
